.home {
  background: url('./taxi1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.right {
  float: right;
  padding-right: 120px;
}

.modal70 {
  width: 50%;
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 }